@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Space+Mono&display=swap");

.main {
  margin: 0;
  padding: 0;
  padding-top: 2.3vw;
  padding-left: 0vw;
  box-sizing: border-box;

  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 4vh;
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

.front {
  background-color: aquamarine;
}

.back {
  background-color: rgba(191, 201, 101, 0.888);
}

.paired {
  background: #80ef6d;
  pointer-events: none;
}
